.btn-custom {
    display: inline-block !important; 
    padding: 10px 20px !important;
    background-color: #ff0000 !important;
    color: #ffffff !important; 
    border: none !important;
    border-radius: 4px !important;
    text-decoration: none !important;
    font-weight: bold !important;
    cursor: pointer !important;
    transition: background-color 0.3s ease !important;
  }
  
  .botones-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }

  .btn-custom:hover { /* Color de fondo al pasar el mouse */
    background-color: #cc0000 !important; 
  }

  .btn-borrar-carrito {
    background-color: red;
    color: white;
  }
  
  .btn-realizar-compra {
    background-color: green;
    color: white;
  }